<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
<main>
    <img th:src="${user.pictureUrl}?: '/img/avatar.png'" alt="User avatar"/>
    <h1>
        <th:container th:text="${user.fullname}"></th:container>
        <form class="block-user-action"
              th:action="@{/users/{id}/{type}(id=${user.id},type=${user.blocked ? 'unblock':'block'})}"
              method="post">
            <input type="hidden" name="url" th:value="@{users/{id}(id=${user.id})}"/>
            <button th:text="${user.blocked} ? 'Unblock' : 'Block'"></button>
        </form>
    </h1>
    <hr/>
    <h2>Events</h2>
    <ul>
        <li th:each="reg : ${registrations}"
            th:text="${reg.event.title}+' | '+${reg.event.local}+' | '+${reg.status.label}"></li>
    </ul>
</main>
<script>
    for (let form of document.querySelectorAll("form.block-user-action")) {
        form.addEventListener("submit", (ev) => {
            const canChange = confirm("Are you sure?");
            if (!canChange) {
                ev.preventDefault();
            }
        });
    }
</script>
</body>
</html>