<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .invalid {
            border: 1px solid red;
        }
    </style>
</head>
<body>
<p id="notification" th:if="${error}" th:text="${error}" style="color: red"></p>

<form th:object="${form}" method="post">
    <div>
        <label for="oldPassword">Old Password</label>
        <input type="password" name="oldPassword" id="oldPassword" th:field="*{oldPassword}"
               th:classappend="${#fields.hasErrors('oldPassword')} ? 'invalid' : ''" required/>
        <small th:if="${#fields.hasErrors('oldPassword')}"
               th:errors="*{oldPassword}" style="color: red"></small>
    </div>

    <div>
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" th:field="*{newPassword}"
               th:classappend="${#fields.hasErrors('newPassword')} ? 'invalid' : ''" required/>
        <small th:if="${#fields.hasErrors('newPassword')}"
               th:errors="*{newPassword}" style="color: red"></small>
    </div>

    <button>Change</button>
</form>
</body>
</html>